@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-bg-primary: #272b30;
    --color-bg-secondary: #3a3f44;
    --color-bg-hover: #17191b;
    --color-bg-code: #c5c5c5;

    --color-primary: #aaa;
    --color-alert: #ee5f5b;
    --color-warn: #f89406;
    --color-badge: #62c462;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin: 2rem 0;
    text-align: center;
}

h2{
    margin: 1.5rem 0;
}

h3, pre{
    margin: 1rem 0;
}

p{
    text-align: justify;
    margin: .7rem 0;
}

pre{
    background-color: var(--color-bg-code);
    padding: 1rem;
    overflow-x: auto;
    color: black;
}

code{
    font-family: 'Raleway', monospace;
}

footer{
    background-color: var(--color-bg-secondary);
    padding: 1.5rem;
    text-align: center;
}

img{
    width: 100%;
}

/* Contenu du header */
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-bg-secondary);
}

header p{
    color: white;
    font-size: 1.5rem;
    text-align: left;
    cursor: pointer;
}

#menuBurger{
    width: 3rem;
    cursor: pointer;
}

#navbar{
    width: 0;
    background-color: var(--color-bg-secondary);
    position: absolute;
    padding: 0;
    top: 100%;
    right: 0;
    height: calc(100vh - 100%);
    overflow-y: auto;
    overflow-x: hidden;
    transition: .2s;
}

#navbar.active{
    width: 100%;
    padding: 1rem;
}

#navbar a{
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-bottom: 1px solid var(--color-bg-code);
}

@media (min-width: 768px) {
    #navbar.active{
        width: 350px;
    }
}

/* Contenu de la page */

#app{
    padding: 1.5rem .7rem;
    min-height: 90vh;
}

.badge{
    color: var(--color-badge);
}

.alert{
    color: var(--color-alert);
}

.warn{
    color: var(--color-warn);
}

div.warn{
    padding: 1rem 1.5rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.buttons .button{
    width: 50%;
}

.button{
    padding: 0.5rem;
}

.button-item{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    background-color: var(--color-bg-secondary);
    color: white;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    transition: .5s;
}

.button-item:hover{
    background-color: var(--color-bg-hover);
}

.img-auto{
    width: auto;
    max-width: 100%;
    margin: 1rem 0;
}

@media (min-width: 992px) {
    main{
        width: 960px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    main{
        width: 1140px;
    }
}

::-webkit-scrollbar-track {
    background-color: var(--color-bg-primary);
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: var(--color-bg-primary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-secondary);
    border-radius: 3px;
}